{% extends ''|add:app_name|add:'/base.html' %}
{% load static %}

{% block banner %}
    <img class="img1" src="{% static ''|add:app_name|add:'/img/art-questionnaire.png' %}"/>
{% endblock %}

{% block content_header %}
    <h2>Thank you very much for participate</h2>
{% endblock %}


{% block content %}
    {% if error_msg %}
        <p>! {{eror_msg}} </p>
    {% endif %}
    <p>Please give us your name first:</p>
    <form action="" method="POST"> {% csrf_token %}
        <fieldset>
            <label for="user_name">Your full name:</label>
            <input type="text", name="user_name", id="user_name"><br>
        </fieldset>
        <input type="submit" value="start">
    </form>
{% endblock %}