{% extends ''|add:app_name|add:'/base.html' %}
{% load static %}

{% block banner %}
    <img class="img1" src="{% static ''|add:app_name|add:'/img/art-questionnaire.png' %}"/>
{% endblock %}

{% block content_header %}
    <h1>Welcome!</h1>
    <h2>Here is our question list</h2>
{% endblock %}

{% block content %}
    {% if question_list %}
    <ol>
        {% for question in question_list %}
            <li>
                <a href="{% url ''|add:app_name|add:':question_detail' question.pk %}">
                    {{question.question_text}}
                </a>
            </li>
        {% endfor %}

    </ol>
    <div>
        <a href="{% url ''|add:app_name|add:':get_user_name' %}">
            Participate the questionnaire
        </a>
    </div>
    {% endif %}
    <hr>
    <ul>
        {% for comment in comment_list %}
            <li>
                <a href="{% url ''|add:app_name|add:':view_comment' comment.pk %}">
                    {{comment.comment_title}} by {{comment.user_name}}
                </a>
            </li>
        {% endfor %}
    </ul>
    <div>
        <a href="{% url ''|add:app_name|add:':add_comment' %}">
            leave a comment
        </a> 
    </div>
{% endblock %}